@import url("https://fonts.googleapis.com/css?family=Muli|Open+Sans");

.user-posts {
	margin-top: 20px;
	/*font-family: 'Open Sans', sans-serif;
	font-family: 'Muli', sans-serif;*/
}

.activity a > img{
	max-width: 200px;
	max-height: 200px;
}

.activity > .col-md-6 {
	margin-bottom: 20px;
}

.activity .desc-preview {
	/*
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical; 
	*/
}

.user-posts .col-md-4{
	margin-bottom: 20px;
}

.user-posts .media-body{
	vertical-align: middle;
}

.media-left {
	padding-right: 15px;
	border-right: 1px solid #fff;
}

.flex {
	display: flex;
}

.caption {
	text-align: center;
}

.caption a {
	color: white;
	font-size: 14px;
}

.thumbnail {
	background-color: transparent;
	border: none;
	width: 100%;
}

.thumbnail img{
	max-height: 200px;
}

#user-pic {
	width: 100%;
	margin: auto;
	max-height: 300px;
}

.aling-img img {
	display: block;
	margin: auto;
}

.container {
	font-family: 'Muli', sans-serif;
}

.nav-tabs > li > a {
	color: lightgray;
}

.nav-tabs > li > a:hover {
	background-color: gray;
}

.edition img {
	max-width: 150px;
	max-height: 150px;
}

.edition .col-md-6{
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.caption {
		display: none;
	}
}